body{
    background-color: rgb(240, 242, 245);
    font-family: Arial, sans-serif;
}
.logo{
    
    font-size:61px ;
    font-weight: 800;
    color: rgb(34, 123, 239);
    margin-top: 190px;
    margin-left: 152px;
}
.txtbelowlogo{
    margin-top:-50;
    font-size:30px ;
    margin-left: 152px;
    font-weight: 530px;
}
.form{
    background-color: white;
    border-radius: 10px;
    border: 1px solid #dbdada;
    padding: 20px; 
    width: 350px;
    height: 300px;
    margin-left: 730px;
    margin-top: -230px;
    text-align: center;
}
input[type=text],select{
    font-size: large;
  width: 350px;
  height: 52px;
  padding: 10px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=submit] {
    width: 100%;
    background-color: rgb(34, 123, 239);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: large;
  }
input[type=submit]:hover {
    background-color: rgb(31, 115, 226);
}
.mdpoublie{
    margin-bottom: 10px;
    font-size: small;
    color: rgb(34, 123, 239);
}
.mdpoublie:link{
    text-decoration: none;  
}
.mdpoublie:hover {
    text-decoration: underline;
}
.crpg{
    margin-left: 598px;
}
.az:link{
    color: black;
    text-decoration: none;  
}
.az:hover {
    text-decoration: underline;
  }

.az:active {
    color: black;
  }